{% extends 'layout.html' %}

{% block title %}Leaderboard{% endblock %}

{% block styles %}
<!-- Additional styles for the child template -->
<style>
    /* Your custom styles here */
</style>
{% endblock %}

{% block content %}
<!-- Podium for 1st, 2nd, and 3rd Ranked Competitors -->
<h3>Leaderboard</h3>
{%if not competitors %}
<div class="row justify-content-center mt-1">
    <div class="card mb-3 border-white" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/static/Gold.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5>No Competitors Yet</h5>
                    <p>Total Points: 0</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-1">
    <div class="col-md-4 mb-1">
        <div class="card mb-3 border-white" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/static/Silver.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5>No Competitors Yet</h5>
                        <p>Total Points: 0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-1">
        <div class="card mb-3 border-white" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/static/Bronze.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5>No Competitors Yet</h5>
                        <p>Total Points: 0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%else%}

<div class="row justify-content-center mt-0">
    <div class="card mb-3 border-white" style="max-width: 500px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/static/Gold.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">                    
                    <h4>{{ competitors.top_three[0].firstname }} {{ competitors.top_three[0].lastname }}</h4>
                    <p>Total Points: {{ competitors.top_three[0].rank.points }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-1">

    {% for competitor in competitors.top_three[1:] %}
    <div class="col-md-4 mb-1">
        <div class="card mb-3 border-white" style="max-width: 540px;">
            <div class="row g-0">
                {%if competitor.rank.ranking == 2%}
                <div class="col-md-4">
                    <img src="/static/Silver.png" class="img-fluid rounded-start" alt="...">
                </div>
                {%else%}
                <div class="col-md-4">
                    <img src="/static/Bronze.png" class="img-fluid rounded-start" alt="...">
                </div>
                {%endif%}

                <div class="col-md-8">
                    <div class="card-body">

                        <h4>{{ competitor.firstname }} {{ competitor.lastname }}</h4>
                        <p>Total Points: {{ competitor.rank.points }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{%endif%}


<!-- Table for Other Competitors with Pagination -->
<div class="row justify-content-center mt-1">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead class="table-secondary">
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {%if competitors%}
                {% for competitor in competitors.competitors_pagination.items %}
                <tr>
                    <td>{{ competitor.rank.ranking }}</td>
                    <td>{{ competitor.firstname }} {{ competitor.lastname }}</td>
                    <td>{{ competitor.rank.points }}</td>
                </tr>

                {% endfor %}
                {%else%}
                {% for i in range(3) %}
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>No Competitors Yet</td>
                    <td>0</td>
                </tr>
                {% endfor %}
                {%endif%}
            </tbody>
        </table>
        <!-- Pagination -->
        {%if competitors%}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
                {% if competitors.competitors_pagination.has_prev %}
                <li class="page-item">
                    <a class="page-link"
                        href="{{ url_for('index_views.index_page', page=competitors.competitors_pagination.prev_num) }}"
                        aria-label="Previous">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">Previous</span>
                </li>
                {% endif %}

                {% for page_num in competitors.competitors_pagination.iter_pages() %}
                <li class="page-item {% if page_num == competitors.competitors_pagination.page %}active{% endif %}">
                    {%if page_num %}
                    <a class="page-link" href="{{ url_for('index_views.index_page', page=page_num) }}">{{ page_num
                        }}</a>
                    {%else%}
                    <a class="page-link" href="{{ url_for('index_views.index_page', page=page_num) }}">...</a>
                    {%endif%}

                </li>
                {% endfor %}

                {% if competitors.competitors_pagination.has_next %}
                <li class="page-item">
                    <a class="page-link"
                        href="{{ url_for('index_views.index_page', page=competitors.competitors_pagination.next_num) }}"
                        aria-label="Next">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">Next</span>
                </li>
                {% endif %}
            </ul>
        </nav>

        {% endif %}
    </div>
</div>
{% endblock %}


{% block scripts %}
<!-- Additional scripts for the child template -->
<script>
    // Your custom scripts here
</script>
{% endblock %}